@using MoneyManagement.Web
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/Site.css" rel="stylesheet" />
<script src="~/Areas/Finance/Scripts/Expenditure/expenditure-app.js"></script>
<script src="~/Areas/Finance/Scripts/Expenditure/controllers/expenditure-controller.js"></script>

<div ng-app="expenditureApp" ng-cloak>
    <mm-page-header></mm-page-header>
    <div ng-view> </div>
</div>


    
