<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />

    @*<title>@Translations.GetTranslation("ApplicationTitleText")</title>*@

    <!-- Style -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mmStyle.css" rel="stylesheet"/>
    <link href="~/Content/css/mmLoginStyle.css" rel="stylesheet"/>
    <link href="~/Content/css/mmFormElementStyle.css" rel="stylesheet" />


    <!-- Font -->
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />


    <!-- Lib -->
    <script src="~/Scripts/core-jquery.min.js"></script>
    <script src="~/Scripts/core-angular.min.js"></script>

    <script src="~/Scripts/angular/angular-app.js"></script>
    <script src="~/Scripts/angular/directives/angular-directives.js"></script>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
