@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="mmHomeApp" ng-cloak style="background-image: url(../../Content/images/background.jpg)">
    <mm-login-form user-name="userName" pass-word="passWord"></mm-login-form>
</div>
