<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <div class="form-group" ng-form>
                    <!--<label class="control-label mandatory-field-label">Amount</label>-->
                    <div class="input-group">

                        <input type="text" placeholder="Amount"
                               class="form-control input-small hide-spinner text-right" />

                        <div class="input-group-addon"> VND </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-advantage">
        <div class="panel-heading">
            <h3>Expenditure detail</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <!--<label class="control-label mandatory-field-label">Category</label>-->
                        <div class="input-group">

                            <input type="text" placeholder="Category"
                                   class="form-control input-small hide-spinner text-right" />

                            <div class="input-group-addon"> C </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <!--<label class="control-label mandatory-field-label">Description</label>-->
                        <div class="input-group">

                            <input type="text" placeholder="Description"
                                   class="form-control input-small hide-spinner text-right" />

                            <div class="input-group-addon"> D </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <!--<label class="control-label mandatory-field-label">Account</label>-->
                        <div class="input-group">

                            <input type="text" placeholder="Account"
                                   class="form-control input-small hide-spinner text-right" />

                            <div class="input-group-addon"> A </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <!--<label class="control-label mandatory-field-label">Expenditure date</label>-->
                        <div class="input-group">

                            <input type="text" placeholder="Expenditure date"
                                   class="form-control input-small hide-spinner text-right" />

                            <div class="input-group-addon"> D </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
