<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <div class="form-group" ng-form>
                    <!--<label class="control-label mandatory-field-label">Amount</label>-->
                    <div class="input-group">

                        <input type="text"
                               placeholder="Amount"
                               class="form-control input-small hide-spinner text-right"
                               display-decimals="0"
                               decimal-input="0"
                               ng-model="amount"
                               max="99999999999999999"
                               min="1"
                               ng-required />

                        <div class="input-group-addon"> VND </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-advantage">
        <div class="panel-heading">
            <h3>Expenditure detail</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <!--<label class="control-label mandatory-field-label">Category</label>-->
                        <div class="input-group">
                            <select class="form-control select2 text-right"
                                    ng-options="budget.DisplayName for budget in budgets track by budget.KeyId"
                                    ng-model="selectedBudget"></select>
                            <div class="input-group-addon"> B </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <div class="input-group">
                            <input type="text" placeholder="Description"
                                   class="form-control input-small hide-spinner text-right" />
                            <div class="input-group-addon"> D </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <div class="input-group">
                            <select class="form-control select2 text-right"
                                    ng-options="account.DisplayName for account in accounts track by account.KeyId"
                                    ng-model="selectedAccount"></select>
                            <div class="input-group-addon"> A </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <div class="form-group" ng-form>
                        <input type="text" class="form-control" date-picker
                               ng-model="expenditureDate"
                               model-name="expenditureDate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
